{"filter":false,"title":".gitignore","tooltip":"/.gitignore","undoManager":{"mark":1,"position":1,"stack":[[{"start":{"row":0,"column":0},"end":{"row":0,"column":1},"action":"insert","lines":["a"],"id":1},{"start":{"row":0,"column":1},"end":{"row":0,"column":2},"action":"insert","lines":["p"]},{"start":{"row":0,"column":2},"end":{"row":0,"column":3},"action":"insert","lines":["p"]}],[{"start":{"row":0,"column":0},"end":{"row":0,"column":3},"action":"remove","lines":["app"],"id":2},{"start":{"row":0,"column":0},"end":{"row":0,"column":10},"action":"insert","lines":["apprentice"]}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1709508031599,"hash":"a6620a8f6d322a17fa696ffde71f59da4d4780d3"}